@{
    ViewBag.Title = "About";
}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Crossroad</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />

    <title>Выравнивание фотографии по центру</title>
</head>

<p class="fig">
    <img src="~/img/CY2NYGSv.jpg"
         width="1263" height="320" alt="Фотография">
</p>



<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>



<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="index">ГЛАВНАЯ</a></li>
            <li class="active">О НАС</li>
            <li><a href="Contact">КОНТАКТЫ</a></li>
        </ul>
    </nav>
</div>



<div class="center">
    <div id="heading">

        <h1>О НАС</h1>

    </div>
</div>


<aside>
    <nav>
        <ul class="aside-menu">
            <li><a href="Table">ЦЕНЫ</a></li>
            <li><a href="Cari">УСЛУГИ</a></li>
           

        </ul>
    </nav>
</aside>


<div class="center">
    <h2>
        На сегодняшний день, благодаря серьезным инвестициям в современное оборудование, мы можем смело говорить о том, что наш сервис входит в число самых оснащенных по региону, и предлагаем всем владельцам дизельных автомобилей свою помощь в их обслуживании.
        Современное, высокоточное оборудование, на котором работают специально обученные мастера узкого профиля, позволит нам безошибочно найти источники возможных рисков и оперативно устранить их. В штате нашего центра работают исключительно профессионалы, имеющие не только технические знания, но и обладающие огромным опытом в их применении на практике. Это относится к автомобилям любой марки.
    </h2>
    
</div>
<footer>
    <div id="footer">
        <div id="tw">
            <h3>16-09-2018</h3>
            <p>
                Автосервис «Crossroad»
            </p>
        </div>
        <div id="sitemap">
            <h3>О НАС</h3>
            <div>
                <a href="Contact">Контакты</a>
                <a href="About">О нас</a>
            </div>
        </div>
    </div>
</footer>
