
@{
    ViewBag.Title = "Cari";
}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Crossroad</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />

    <title>Выравнивание фотографии по центру</title>
</head>

<p class="fig">
    <img src="~/img/CY2NYGSv.jpg"
         width="1263" height="320" alt="Фотография">
</p>


<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>



<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="index">ГЛАВНАЯ</a></li>
            <li><a href="About">О НАС</a></li>
            <li><a href="Contact">КОНТАКТЫ</a></li>
        </ul>
    </nav>
</div>


<div class="center">
    <div id="heading">
        <h1> Услуги</h1>
    </div>
</div>


<aside>
    <nav>
        <ul class="aside-menu">
            <li><a href="Table">ЦЕНЫ</a></li>
            <li class="active">УСЛУГИ</li>
         


        </ul>
    </nav>
</aside>

<section>
    <blockquote>
        <p>
            Ремонт любой сложности.
        </p>
        <cite>Широкий ассортимент автозапчастей в наличии.</cite>
    </blockquote>
</section>


<div class="center">
    <h2>АВТОЗАПЧАСТИ</h2>
    <p>Комплектующие подбираются с учётом марки авто, его характеристик и конечно же ваших пожеланий о цене. Обычно мы предлагаем на выбор несколько вариантов. Сотрудники сервиса заботятся о том, чтобы ремонт вашего автомобиля был для вас необременительным. Приезжайте в магазин автозапчастей, когда удобно - мы открыты 24 часа/7 дней в неделю, а консультанты помогут сделать правильный выбор детали. Оставляйте автомобиль, механики проведут установку запчастей, и уже утром вы заберёте своё авто. Вместо утомительных поисков по авторынкам и выходных в гараже за ремонтом, проведите время с большей пользой. Например, уделите внимание близким или наоборот займитесь работой.</p>
    <h2>АВТОМОЙКА</h2>
    <p>У нас есть высокотехнологичное оборудование, которое помогает отлично очищать машину даже от въевшейся грязи. А также в малодоступных местах – днище, арки и под капотом.Пыль и другие загрязнения с содержанием химических веществ оседают на поверхности авто. Особенно в зимний период, когда на дорогах лежат специальные реагенты. Они агрессивны по отношению к лакокрасочному покрытию и железу, разъедая покрытие. Появляются преждевременные очаги ржавчины.</p>
    <h2>Диагностика</h2>
    <p>За правильную работу автомобиля и ваш комфорт отвечает сразу несколько систем. Чтобы поездки доставляли только радость, а «средство передвижения» служило ещё долгое время, необходимо следить за его состоянием. Детальный осмотр поможет предотвратить или вовремя выявить любую поломку.КАК ПРОХОДИТ ПРОВЕРКА БОРТОВОГО КОМПЬЮТЕРА АВТО? Такая услуга предоставляется в СТО для поиска малейших проблем в системах жизнеобеспечения транспортного средства. Контроль происходит при помощи автотестеров, мотортестеров или на стенде. Диагностика ходовой, инжектора или подвески осуществляется только профессионалами. Специалист-диагност подключает специальный прибор к бортовому компьютеру, который считывает и расшифровывает ошибки, выводит текущие параметры и заключение. После этого, вы обсудите с мастером варианты устранения неисправностей. В автотехцентре «Ангар» проводится компьютерная диагностика ВАЗ и иномарок. Мы выявим и решим любую проблему в кратчайшие сроки.</p>
    </div>

<footer>
    <div id="footer">
        <div id="tw">
            <h3>16-09-2018</h3>
            <p>
                Автосервис "Crossroad"
            </p>
        </div>

        <div id="sitemap">
            <h3>О НАС</h3>
            <div>
                <a href="Contact">Контакты</a>
                <a href="About">О нас</a>

            </div>
        </div>
    </div>
</footer>

