
@{
    ViewBag.Title = "Dohodi";
}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Carsharing</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />

    <title>Выравнивание фотографии по центру</title>
</head>

<p class="fig">
    <img src="~/img/111.jpg"
         width="1263" height="360" alt="Фотография">
</p>


<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>



<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="index">ГЛАВНАЯ</a></li>
            <li><a href="About">О НАС</a></li>
            <li><a href="Contact">КОНТАКТЫ</a></li>
        </ul>
    </nav>
</div>


<div class="center">
    <div id="heading">
        <h1> Услуги</h1>
    </div>
</div>


<aside>
    <nav>
        <ul class="aside-menu">
            <li><a href="Table">ЦЕНЫ</a></li>
            <li class="active">УСЛУГИ</li>

        </ul>
    </nav>
</aside>

<section>
    <blockquote>
        <p>
            Широкий выбор автомобилей.
        </p>
        <cite>Автомобиль в шаговой доступности. </cite>
    </blockquote>
</section>


<div class="center">

    <h2>Аренда авто с водителем</h2>
    <p>Аренда авто с водителем наиболее востребована среди деловых людей. Аренда авто с водителем – это комфортно.</p>
    <h2>Прокат авто в Москве</h2>
    <p>Машина нужна вам в кратчайшие сроки? Оформление документов происходит очень быстро. В течение 20 минут вы можете получить авто в аренду. При необходимости, транспортное средство также может быть укомплектовано детским автокреслом, видеорегистратором, навигатором.</p>
    <h2>Долгосрочный прокат авто в Москве</h2>
    <p>При современном темпе жизни машина перестала быть роскошью и стала средством передвижения. Оценить преимущества личного транспорта сегодня могут даже те, кто не имеют собственного автомобиля. Аренда авто в Москве в компании GOODOKRENT подарит вам свободу передвижений и комфорт.</p>
</div>

<footer>
    <div id="footer">
        <div id="tw">
            <h3>16-09-2018</h3>

        </div>

        <div id="sitemap">

            <div>
                <a href="Contact">Обратная связь</a>
                <a href="About">О проекте</a>

            </div>
        </div>
    </div>
</footer>

