@{
    ViewBag.Title = "Home Page";
}
<div id="heading">
    <h1> АВТОСЕРВИС "Crossroad"</h1>
</div>

<blockquote>
    <p>
        Ремонт любой сложности.
    </p>
    <cite>Широкий ассортимент автозапчастей в наличии.</cite>
</blockquote>
<h1>Наши преимущества</h1>

<h2>Доступные цены</h2>
<img src="~/img/icon (3).png"
     width="250" height="250" alt="Фотография">

<h2>Опытные специалисты</h2>
<img src="~/img/icon (1).png"
     width="250" height="250" alt="Фотография">
<h2>Работаем оперативно</h2>
<img src="~/img/icon (17).png"
     width="250" height="250" alt="Фотография">
<h2>Гарантия качества</h2>
<img src="~/img/icon (34).png"
     width="250" height="250" alt="Фотография">
<h2>Работаем 7 дней в неделю</h2>
<img src="~/img/icon (11).png"
     width="250" height="250" alt="Фотография">
