
@{
    ViewBag.Title = "Table";
}



<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Carsharing</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />

    <title>Выравнивание фотографии по центру</title>
</head>

<p class="fig">
    <img src="~/img/press-02.jpg"
         width="1263" height="360" alt="Фотография">
</p>



<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>


<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="index">ГЛАВНАЯ</a></li>
            <li><a href="About">О НАС</a></li>
            <li><a href="Contact">КОНТАКТЫ</a></li>
        </ul>
    </nav>
</div>


<div class="center">
    <div id="heading">
        <h1> Цены</h1>
    </div>
</div>




<aside>
    <nav>
        <ul class="aside-menu">
            <li class="active">ЦЕНЫ</li>
            <li><a href="Dohodi">УСЛУГИ</a></li>

        </ul>
    </nav>
</aside>




<section>
    <blockquote>
        <p>
            Большой выбор автомобилей.
        </p>
        <cite>Автомобили в шаговой доступности.</cite>
    </blockquote>
</section>


<div class="center">
    <h2>Прокат фургона. 3 650 руб.</h2>
    <p> Семейство моделей Volkswagen T5 – бестселлер в классе коммерческих автомобилей в Западной Европе и в России.</p>
    <li>Кузов Минивэн</li>
    <li>Тип двигателя дизель</li>
    <li>Год выпуска 2015</li>
</div>

<p class="fig">
    <img src="~/img/111.jpg"
         width="680" height="320" alt="Фотография">
</p>
   
    <div class="center">
        <h2> Средний класс. 2970 руб.</h2>
        <p>Passat является одним из самых успешных в мире автомобилей среднего класса.</p>
        <li>Кузов Седан</li>
        <li>Тип двигателя бензин</li>
        <li>Замена свечей</li>
        <li>Год выпуска 2016</li>
    </div>

<p class="fig">
    <img src="~/img/be-the-first-bg.jpg"
         width="680" height="320" alt="Фотография">
</p>



<div class="center">
    <h2>Бизнесс класс 5000 руб.</h2>
    <p>Стиль. Статус. Комфорт</p>
    <li>Кузов Седан</li>
    <li>Тип двигателя бензин</li>
    <li>Год выпуска 2018</li>
</div>



<p class="fig">
    <img src="~/img/777.jpg"
         width="680" height="620" alt="Фотография">
</p>






<footer>
    <div id="footer">


        <div id="tw">
            <h3>16-09-2018</h3>

        </div>

        <div id="sitemap">

            <div>
                <a href="Contact">Обратная связь</a>
                <a href="About">О проекте</a>

            </div>

        </div>


    </div>
</footer>

